<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>opendata-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>bootStrap</servlet-name>
    <servlet-class>com.samuk.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bootStrap</servlet-name>
    <url-pattern>/boot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>main2</servlet-name>
    <servlet-class>com.samuk.servlets.Main2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main2</servlet-name>
    <url-pattern>/main2</url-pattern>
  </servlet-mapping>
</web-app>